
<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
    </ol>

   <h3> Search for CVE! </h3>

    <form class="mb-3" action="/search">
        <div class="input-group">
            <input type="text" name="query" class="form-control" placeholder="Search for CVE..."
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                 <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i>
                 </button>
            </div>
        </div>
    </form>


        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Top CVEs </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>CVE</th>
                            <th>Threat Level</th>
                            <th>Popularity</th>
                        </tr>
                        </thead>

                        <tbody>
    {{#each result.0.results}}
                            <tr>
                                <td>
                                    <a href="/search?query={{id}}">
                                        {{id}}
                                    </a>
                                </td>
                                <td>{{risk}}</td>
                                <td>{{risk_val}}</td>
                            </tr>
    {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>





</div>