
<div class="mb-3 text-center">
    <h1> {{query}} </h1>
    <h2> Threat Level: {{level}} </h2>
    <h2> Popularity: {{popularity}} </h2>
</div>

<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-bug"></i>
                </div>
                <div class="mr-5">Scenarios ({{circl.scenarios_num}})</div>
            </div>
            <a class="card-footer text-white clearfix small z-1"  href="#" data-toggle="modal" data-target="#scenarioModal">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-user-secret"></i>
                </div>
                <div class="mr-5">Exploits ({{circl.exploits_num}})</div>
            </div>
            <a class="card-footer text-white clearfix small z-1"  href="#" data-toggle="modal" data-target="#exploitModal">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-shield-alt"></i>
                </div>
                <div class="mr-5">Solutions ({{circl.solutions_num}})</div>
            </div>
            <a class="card-footer text-white clearfix small z-1"  href="#" data-toggle="modal" data-target="#solutionModal">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-code"></i>
                </div>
                <div class="mr-5">Affected Softwares ({{vuldb.affectedSoftware_num}})</div>
            </div>
            <a class="card-footer text-white clearfix small z-1"  href="#" data-toggle="modal" data-target="#softwareModal">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
            </a>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-chart-area"></i>
        Area Chart Example</div>
    <div class="card-body">
        <canvas id="myAreaChart" width="100%" height="30"></canvas>
    </div>
</div>

<script>
    var data ={{{json vuldb}}};
</script>

<script src="js/vuldbChart.js"></script>

<div class="modal fade" id="scenarioModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Scenarios</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="list-group">

                    {{#each circl.scenarios}}

                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{name}}</h5>
                            </div>
                            <p class="mb-1">{{summary}}</p>
                            <small class="text-muted">{{prerequisites}}</small>
                        </a>
                    {{/each}}

                </div>


            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exploitModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Exploits</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="list-group">

                    {{#each circl.exploits}}

                        <a href="{{source}}" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{title}}</h5>
                            </div>
                            <p class="mb-1">{{description}}</p>
                            <small class="text-muted">{{source}}</small>
                        </a>

                    {{/each}}

                </div>


            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="solutionModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Solutions</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="list-group">

                    {{#each circl.solutions}}

                        <a href="{{source}}" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{published}} - {{title}}</h5>
                            </div>
                            <p class="mb-1">{{description}}</p>
                            <small class="text-muted">{{footer}}</small>
                        </a>
                    {{/each}}

                </div>


            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="softwareModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Affected software</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="list-group">

                    {{#each vuldb.affectedSoftware}}

                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{this}}</h5>
                            </div>
                        </a>
                    {{/each}}

                </div>


            </div>

        </div>
    </div>
</div>

<div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Twitter Data </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Date</th>
                            <th>Tweet</th>
                            <th>URL</th>
                        </tr>
                        </thead>

                        <tbody>

                        {{#each twittersearch}}
                            <tr>
                                <td>{{username}}</td>
                                <td>{{created_at}}</td>
                                <td>{{text}}</td>
                                <td><a href="{{url}}" target="_blank" class="btn btn-success">View</a></td>
                            </tr>
                        {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

<div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i> IBM Security Bulleting
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover dataTable"  width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Date</th>
                            <th>Text</th>
							<th>URL</th>
                        </tr>
                        </thead>

                        <tbody>

                        {{#each ibm}}
                            <tr data-url="{{url}}">
                                <td>{{username}}</td>
                                <td>{{created_at}}</td>
                                <td>{{text}}</td>
                                <td>
                                    <a href="{{url}}" target="_blank">
                                        <button type="button" class="btn btn-success">View</button>
                                    </a>
                                </td>
                            </tr>
                        {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

		<div class="card mb-3 mt-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Reddit Data </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable"  width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Date</th>
                            <th>Post Text</th>
							<th>URL</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <th>@blah</th>
                            <th>01/01/19</th>
                            <th>OMG! CVE-1234</th>
							<th>www.smapleurlfromredditdata</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

